header {
  height: 300px;
  background-image: url(../contenido/img/header.jpg);
  background-size: cover; }
  header .navbar {
    background-color: rgba(96, 177, 202, 0.562) !important; }
    header .navbar .dropdown-menu {
      background-color: rgba(96, 177, 202, 0.562) !important; }
  header h1 {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: 700; }

main .carouselRock {
  padding: 0px 20px; }
  main .carouselRock h2 {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    font-family: 'Roboto', sans-serif; }
  main .carouselRock p {
    text-align: center;
    padding: 50px; }

main #titulo {
  text-align: center;
  padding-bottom: 50px; }

#body {
  background-image: url(../contenido/img/fondo-cro.jpg) !important;
  background-color: #cebbbb;
  background-blend-mode: soft-light;
  background-size: contain; }
  #body main {
    padding-top: 15px; }
    #body main #principal {
      padding-top: 15px; }
      #body main #principal button {
        width: 150px;
        margin: 10px; }
      #body main #principal h3 {
        font-size: 50px;
        font-weight: 900;
        text-align: center;
        font-family: 'Roboto', sans-serif; }
      #body main #principal h4 {
        font-size: 30px;
        font-weight: 500;
        text-align: center; }
      #body main #principal img {
        width: 500px;
        height: 350px;
        border: black 1px solid; }
      #body main #principal p {
        text-align: center;
        padding: 0px 20px; }
  #body table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px; }
    #body table tr {
      border: black 1px solid; }
    #body table td {
      border: black 1px solid;
      padding: 15px;
      font-weight: 900;
      width: 200px;
      text-align: center; }

body main h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

body main #lisVin #elemVin {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center; }
  body main #lisVin #elemVin img {
    height: 200px;
    width: 300px;
    padding: 15px;
    border-radius: 100px; }

@media only screen and (min-width: 700px) {
  header {
    height: 400px; }
    header h1 {
      padding-top: 80px;
      font-size: 80px; }
  main .carouselRock {
    padding: 0px 80px; } }

@media only screen and (min-width: 800px) {
  header {
    height: 550px; }
    header h1 {
      padding-top: 150px;
      font-size: 80px; } }

@media only screen and (min-width: 992px) {
  header {
    height: 650px; }
    header h1 {
      padding-top: 200px;
      font-size: 100px; } }

@media only screen and (min-width: 1224px) {
  header {
    height: 750px; }
    header h1 {
      padding-top: 250px;
      font-size: 120px; }
  main .carouselRock {
    padding: 0px 130px; } }

@media only screen and (min-width: 1450px) {
  header {
    height: 750px; }
    header h1 {
      padding-top: 250px;
      font-size: 120px; }
  main .carouselRock {
    padding: 0px 280px; } }
